backend/src/main/resources/schema/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://actu.com/users"
           targetNamespace="http://actu.com/users"
           elementFormDefault="qualified">

    <!-- Admin User Management Operations -->
    <xs:element name="getAllUsersRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" type="tns:userList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Token Management Operations -->
    <xs:element name="getAllTokensRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllTokensResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tokens" type="tns:tokenList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="generateTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="generateTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="tns:token"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTokensByUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTokensByUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tokens" type="tns:tokenList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reactivateTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reactivateTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="revokeTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="revokeTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Editor Profile Management Operations -->
    <xs:element name="getProfileRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Authentication Operations -->
    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="user" type="tns:authUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCurrentUserRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCurrentUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="logoutRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="logoutResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Complex Types -->
    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="role" type="tns:userRole"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="userList">
        <xs:sequence>
            <xs:element name="user" type="tns:user" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="token">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="userId" type="xs:long"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
            <xs:element name="expiresAt" type="xs:dateTime"/>
            <xs:element name="revoked" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tokenList">
        <xs:sequence>
            <xs:element name="token" type="tns:token" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authUser">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="role" type="tns:userRole"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="userRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADMIN"/>
            <xs:enumeration value="EDITOR"/>
            <xs:enumeration value="USER"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema> 